<mat-card class="register-box">
  <div>
    <mat-card-title class=" big-header">
      <h1>Sign up</h1>
    </mat-card-title>
  </div>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last name">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <mat-card-title>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="email" matInput formControl="emailFormControl" placeholder="Enter your email">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <mat-form-field appearance="fill" class="example-form">
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Create your password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-form">
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Re-enter your password" >
      <mat-error *ngIf="!passwordsMatch()">
        Password missmatch!!
      </mat-error>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-title>

  <div>
    <mat-card-actions>
      <button mat-fab extended class="create-account-button">
        Create a new Account
      </button>
    </mat-card-actions>
  </div>

  <div>
    <mat-card-content>
      <hr />
    </mat-card-content>
  </div>

  <mat-card-content style="text-align:center;">
    If you already have an account
  </mat-card-content>
  <div>
    <mat-card-actions>
      <button mat-fab extended class="login-button" mat-dialog-close>
        Back to log in
      </button>
    </mat-card-actions>
  </div>
</mat-card>
