<mat-card class="register-box">
  <div>
    <mat-card-title class=" big-header">
      <h1>Sign up</h1>
    </mat-card-title>
  </div>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput
                 placeholder="First name"
                 type="text"
                 pattern="[a-zA-Z ]*"
                 [(ngModel)]="fname"
                 required>
          <mat-error *ngIf="!fname">
            First name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="this.nameRegex.test(this.fname)">
            First name is <strong>invalid</strong>
          </mat-error>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="example-full-width">
          <input matInput
                 placeholder="Last name"
                 type="text"
                 pattern="[a-zA-Z ]*"
                 [(ngModel)]="lname"
                 required>
          <mat-error *ngIf="!lname">
            Last name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="this.nameRegex.test(this.lname)">
            Last name is <strong>invalid</strong>
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <mat-card-title>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="email" matInput placeholder="Enter your email"
               [formControl]="email"
               required>
        <mat-error *ngIf="!email.value">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="email.invalid">
          Email is <strong>invalid</strong>
        </mat-error>

      </mat-form-field>
    </form>
    <mat-form-field class="example-form">
      <input matInput
             [type]="hide ? 'password' : 'text'"
             type="text"
             placeholder="Create your password"
             [formControl]="password"
             (input)="onInputUpdate()">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-card class="hint-box" *ngIf="showErrors">
      <div *ngIf="!password1">
        Password is required<br />
      </div>
      <div *ngIf="isTooLong">
        Password needs a maximum of 30 characters<br />
      </div>
      <div *ngIf="isTooShort">
        Password needs a minimum of 8 characters<br />
      </div>
      <div *ngIf="!oneUpper">
        Password needs at least one uppercase character<br />
      </div>
      <div *ngIf="!oneLower">
        Password needs at least one lowercase character<br />
      </div>
      <div *ngIf="!oneDigit">
        Password needs at least one uppercase character<br />
      </div>
      <div *ngIf="!oneSpecial">
        Password needs at least one uppercase character<br />
      </div>
    </mat-card>
    <br />

    <mat-form-field class="example-form">
      <input matInput
             type="text"
             [type]="hide ? 'password' : 'text'"
             placeholder="Re-enter your password"
             [(ngModel)]="password2"
             (input)="passwordsMatch()"
             required>
      <mat-error *ngIf="!passwordsMatch()">
        Password <strong>mismatched</strong>
      </mat-error>
      <mat-error *ngIf="!password2">
        This field is <strong>required</strong>
      </mat-error>

      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

    </mat-form-field>
  </mat-card-title>
  {{password2}}
  {{password1}}
  {{passwordsMatch()}}
  <div>
    <mat-card-actions>
      <button mat-fab
              extended class="create-account-button"
              [disabled]="!onUpdateForm()"
              (click)="registerNewAccount()">
        Create a new Account
      </button>
    </mat-card-actions>
  </div>

  <div>
    <mat-card-content>
      <hr />
    </mat-card-content>
  </div>

  <mat-card-content style="text-align:center;">
    If you already have an account
  </mat-card-content>
  <div>
    <mat-card-actions>
      <button mat-fab extended class="login-button" mat-dialog-close>
        Back to log in
      </button>
    </mat-card-actions>
  </div>
</mat-card>
