<mat-card class="login-box">
  <div>
    <div>
      <mat-card-title style="text-align:center;" class=" big-header">
        <h1>Welcome</h1>
        <app-logo></app-logo>
      </mat-card-title>
    </div>

    <div>
      <mat-card-content>
        <br />
      </mat-card-content>
    </div>

    <mat-card-title>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Enter your email</mat-label>
          <input type="email" matInput formControl="emailFormControl" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
      <mat-form-field appearance="fill" class="example-form">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-title>

    <div>
      <mat-card-actions>
        <button mat-fab extended class="login-button">
          Log in
        </button>
      </mat-card-actions>
    </div>

    <div>
      <mat-card-content>
        <hr />
      </mat-card-content>
    </div>

    <div>
      <mat-card-content style="text-align:center;">
        OR
      </mat-card-content>
    </div>

    <!--(click)="openDialog('0ms', '0ms')"-->
    <button mat-fab extended class="create-account-button" (click)="openRegisterDialog()">
      Create a new Account
    </button>

  </div>
</mat-card>
